/* Typography Styles */

h1 {
    font-size: var(--font-size-h1);
    font-weight: 700;
    line-height: 1.2;
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: 600;
    line-height: 1.3;
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: 600;
    line-height: 1.4;
}

h4 {
    font-size: var(--font-size-body);
    font-weight: 600;
    line-height: 1.4;
}